.report-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  text-align: left;
}

.report-form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #34495e;
}

.buscar {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #34495e;
}

.custom-select, 
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  color: #34495e;
}

/* Text Align Left */
.text-alinear-izquierda {
  text-align: left;
}

.buscar-2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.btn-primary {
  background-color: #1C1678;
  color: #fff;
}

.btn-primary:hover {
  background-color: #1f6391;
}