<div class="container">
    <div class="navigation">
        <ul>
            <li>
                <a href="home">
                    <span class="icon">
                        <img class="mt-2" src="/assets/images/tesis/log_icono.png" width="70" height="70" alt="GUIDO"
                            style="margin-top: 10px;">
                    </span>
                    <span class="title"><img class="mt-2" src="/assets/images/tesis/log_letra.png" width="100"
                            height="70" alt="GUIDO" style="margin-top: 10px;"></span>
                </a>
            </li>
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <hr>
                <br>
                <li>
                    <a routerLink="/home">
                        <span class="icon">
                            <!-- <i class="nav-icon2 fas fa-tachometer-alt dashboard-icon"></i> -->
                            <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">Inicio</span>
                    </a>
                </li>
                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/calendarRegister" class="nav-link">
                            <span class="icon">
                                <ion-icon name="calendar-clear-outline"></ion-icon>

                            </span>
                            <span class="title">Registrar Horario</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/conversations" class="nav-link">
                            <span class="icon">
                                <ion-icon name="chatbox-outline"></ion-icon>

                            </span>
                            <span class="title">Mensajes</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 1">
                    <li>
                        <a routerLink="/conversation" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="chatbox-outline"></ion-icon>

                            </span>
                            <span class="title">Mensajes</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 1">
                    <li>
                        <a routerLink="/calendarStudent" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="calendar-outline"></ion-icon>

                            </span>
                            <span class="title">Tutorias Programadas</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/calendarTeacher" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="calendar-outline"></ion-icon>

                            </span>
                            <span class="title">Tutorias programadas</span>
                        </a>
                    </li>
                </ng-container>
                <li>
                    <a routerLink="/meetings" class="nav-link" routerLinkActive="active">
                        <span class="icon">
                            <ion-icon name="videocam-outline"></ion-icon>

                        </span>
                        <span class="title"> Sala de clase</span>
                    </a>
                </li>
                <!-- <li>
                    <a routerLink="/suscripcion" class="nav-link" routerLinkActive="active">
                        <span class="icon">
                            <ion-icon name="videocam-outline"></ion-icon>

                        </span>
                        <span class="title"> Suscripcion</span>
                    </a>
                </li> -->

               
                <ng-container *ngIf="usuarioLogueado?.rol === 1">
                    <li>
                        <a routerLink="/recomendaciones" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </span>
                            <span class="title">Recomendar</span>
                        </a>
                    </li>

                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 1">
                    <li>
                        <a routerLink="/notificaciones" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="notifications-outline"></ion-icon>
                            </span>
                            <span class="title"> Notificaciones</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/notificaciones" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="notifications-outline"></ion-icon>
                            </span>
                            <span class="title"> Notificaciones</span>

                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/reportes" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="folder-outline"></ion-icon>
                            </span>
                            <span class="title"> Reportes</span>

                        </a>
                    </li>
                </ng-container>

                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/paymentAccount" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="card-outline"></ion-icon>
                            </span>
                            <span class="title"> Pagos</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/profile" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="title"> Cuenta</span>
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 1">
                    <li>
                        <a routerLink="/studentProfile" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="title"> Cuenta</span>
                        </a>
                    </li>

                </ng-container>
                <ng-container *ngIf="usuarioLogueado?.rol === 2">
                    <li>
                        <a routerLink="/suscripcion" class="nav-link" routerLinkActive="active">
                            <span class="icon">
                                <ion-icon name="person-outline"></ion-icon>
                            </span>
                            <span class="title"> Suscripcion</span>
                        </a>
                    </li>

                </ng-container>
                <li class="nav-item">
                    <a class="nav-link" (click)="cerrarSesion()">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title"> Cerrar sesión</span>
                    </a>
                </li>
            </div>
        </ul>
    </div>
</div>