/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #343a40;
}

.container {
  margin-top: 5px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: #17a2b8;
  color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bg-info {
  background-color: #17a2b8 !important;
}
a.bg-info:focus,
a.bg-info:hover,
button.bg-info:focus,
button.bg-info:hover {
  background-color: #117a8b !important;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

/* Perfil del usuario */
.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #1c1678;
}

.profile-info {
  font-size: 1rem; /* Tamaño de fuente adecuado */
  color: #1C1678; /* Color del texto */
}

.profile-info p {
  margin-bottom: 0.5rem;
  color: #1C1678; /* Asegurar que el color se aplique a los párrafos */
}


.profile-actions button {
  margin-right: 0.5rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilos para el formulario de perfil del alumno */
form {
  background-color: #C1EDED;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

/* Estilos para los botones */
button {
  background-color: #1C1678;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #14105a;
}

button.secondary {
  background-color: #6c757d;
}

button.secondary:hover {
  background-color: #5a6268;
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilos específicos para el modo de edición */
.edit-mode input[type="text"],
.edit-mode input[type="email"],
.edit-mode input[type="date"] {
  background-color: #FFFFFF;
}

.edit-mode button.primary {
  background-color: #36D7FF;
}

.white-icon {
  color: white;
}
