.notificaciones {
    padding: 20px;
      width: 100%; /* Ajusta esto según tu diseño */
      display: flex;
      flex-direction: column;
      align-items: center;
    
  }
  
  .notificaciones ul {
    list-style-type: none;
    padding: 0;
  }
  
  .notificaciones li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .notificaciones li.leido {
    background-color: #e0e0e0;
    text-decoration: line-through;
  }
  
  .notificaciones li:hover {
    background-color: #dcdcdc;
  }
  
  .notificacion-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .notificacion-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .notificacion-text p {
    margin: 0;
  }
  
  .notificacion-text span {
    font-size: 0.8em;
    color: #888;
  }
  
  .notificacion-content button {
    background-color: #1C1678;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .notificacion-content button:hover {
    background-color: #0056b3;
  }
  .no-notifications-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    height: 50vh;
    color: #6c757d;
  }
  
  .icon-container {
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .icon-container i {
    font-size: 100px;
    color: #6c757d;
  }
  
  .no-notifications-container p {
    font-size: 1.2em;
  }
  /* Estilos para las notificaciones */
.notificaciones {
  padding: 20px;
}

.notificaciones ul {
  list-style-type: none;
  padding: 0;
}

.notificaciones li {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
}

.notificaciones li.leido {
  background-color: #e0e0e0;
}


.no-notifications-container {
  text-align: center;
  padding: 20px;
  color: #777;
}

.icon-container {
  font-size: 2rem;
  margin-bottom: 10px;
}


button {
  background-color: #1c1678;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #14105e;
}