<app-navbar-student></app-navbar-student>
<div class="main" [class.active]="menuActive">
<!-- <div class="main"> -->
    <app-topbar></app-topbar>

    <section class="ftco-section bg-light ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center pb-3 mb-3">
                <div class="col-md-7 heading-section text-center">
                    <br>
                    <h2>Suscríbete!</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="block-7 w-100" [ngClass]="{'selected-card': selectedCard === 'Mensual'}">
                        <div class="text-center">
                            <span class="excerpt d-block">Mensual</span>
                            <span class="price"><sup>S/</sup> <span class="number">20</span> <sub></sub></span>
                            <button class="btn btn-primary d-block px-2 py-3" (click)="showPaymentForm('Mensual', 20)">Suscripción Mensual</button>
                            <ul class="pricing-text mb-5">
                                <li><span class="fa fa-check mr-2"></span>Precio de la lección: S/25 por 1 hora.</li>
                                <li><span class="fa fa-check mr-2"></span>Proceso de reserva simplificado</li>
                                <li><span class="fa fa-check mr-2"></span>Acceso al sólido sistema de chat de Guido, diseñado específicamente para tutoría</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="block-7 w-100" [ngClass]="{'selected-card': selectedCard === 'Trimestral'}">
                        <div class="text-center">
                            <span class="excerpt d-block">Trimestral</span>
                            <span class="price"><sup>S/</sup> <span class="number">50</span> <sub></sub></span>
                            <button class="btn btn-primary d-block px-2 py-3" (click)="showPaymentForm('Trimestral', 50)">Suscripción Trimestral</button>
                            <ul class="pricing-text mb-5">
                                <li><span class="fa fa-check mr-2"></span>Precio de la lección: S/25 por 1 hora.</li>
                                <li><span class="fa fa-check mr-2"></span>Acceso al sólido sistema de chat de Guido, diseñado específicamente para tutoría</li>
                                <li><span class="fa fa-check mr-2"></span>Ahorra un 20%</li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="block-7 w-100" [ngClass]="{'selected-card': selectedCard === 'Anual'}">
                        <div class="text-center">
                            <span class="excerpt d-block">Anual</span>
                            <span class="price"><sup>S/</sup> <span class="number">180</span> <sub></sub></span>
                            <button class="btn btn-primary d-block px-2 py-3" (click)="showPaymentForm('Anual', 180)">Suscripción Anual</button>
                            <ul class="pricing-text mb-5">
                                <li><span class="fa fa-check mr-2"></span>Precio de la lección: S/25 por 1 hora.</li>
                                <li><span class="fa fa-check mr-2"></span>Acceso al sólido sistema de chat de Guido, diseñado específicamente para tutoría</li>
                                <li><span class="fa fa-check mr-2"></span>Ahorra un 50%</li>
                          
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div #paymentForm *ngIf="showPayPalButtons" class="row justify-content-center payment-form-container">
                <div class="col-md-12 col-lg-8 d-flex align-items-stretch">
                    <div class="block-7 w-100">
                        <div class="payment-form">
                            <h3 style=" font-size: 1.5em; color: #1C1678;">Pago con tarjeta Visa</h3>
                            <form (ngSubmit)="onSubmitPayment()">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cardNumber">Número de tarjeta</label>
                                            <input type="text" class="form-control" id="cardNumber" [(ngModel)]="cardNumber" name="cardNumber" appCreditCard placeholder="1234 5678 9123 4567" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cardName">Nombre en la tarjeta</label>
                                            <input type="text" class="form-control" id="cardName" [(ngModel)]="cardName" name="cardName" placeholder="Nombre completo" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="expiryDate">Fecha de expiración</label>
                                            <input type="text" class="form-control" id="expiryDate" [(ngModel)]="expiryDate" name="expiryDate" appExpiryDate placeholder="MM/AA" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="cvv">CVV</label>
                                            <input type="text" class="form-control" id="cvv" [(ngModel)]="cvv" name="cvv" placeholder="123" required>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mt-3">Pagar</button>
                            </form>
                            <div *ngIf="montoPagar !== null" class="mt-3 text-center">
                                <h4>Total a pagar: S/{{ montoPagar }}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



<!-- <app-navbar-student></app-navbar-student>
<div class="main">
    <app-topbar></app-topbar>

    <section class="ftco-section bg-light ftco-no-pt">
        <div class="container">
            <div class="row justify-content-center pb-3 mb-3">
                <div class="col-md-7 heading-section text-center">
                    <br>
                    <h2>Suscríbete!</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="block-7 w-100">
                        <div class="text-center">
                            <span class="excerpt d-block">Mensual</span>
                            <span class="price"><sup>S/</sup> <span class="number">20</span> <sub></sub></span>
                            <button class="btn btn-primary d-block px-2 py-3"
                                (click)="suscribirse('Mensual')">Suscripción Mensual</button>
                            <ul class="pricing-text mb-5">
                                <li><span class="fa fa-check mr-2"></span>Precio de la lección: S/12,5 por 30 minutos.
                                    S/25 por 1 hora.</li>
                                <li><span class="fa fa-check mr-2"></span>Proceso de reserva simplificado</li>
                                <li><span class="fa fa-check mr-2"></span>Acceso al sólido sistema de chat de Guido,
                                    diseñado específicamente para tutoría</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="block-7 w-100">
                        <div class="text-center">
                            <span class="excerpt d-block">Trimestral</span>
                            <span class="price"><sup>S/</sup> <span class="number">50</span> <sub></sub></span>
                            <button class="btn btn-primary d-block px-2 py-3"
                                (click)="suscribirse('Trimestral')">Suscripción Trimestral</button>
                            <ul class="pricing-text mb-5">
                                <li><span class="fa fa-check mr-2"></span>Precio de la lección: S/12,5 por 30 minutos.
                                    S/25 por 1 hora.</li>
                                <li><span class="fa fa-check mr-2"></span>Proceso de reserva simplificado</li>
                                <li><span class="fa fa-check mr-2"></span>Acceso al sólido sistema de chat de Guido,
                                    diseñado específicamente para tutoría</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch">
                    <div class="block-7 w-100">
                        <div class="text-center">
                            <span class="excerpt d-block">Anual</span>
                            <span class="price"><sup>S/</sup> <span class="number">180</span> <sub></sub></span>
                            <button class="btn btn-primary d-block px-2 py-3" (click)="suscribirse('Anual')">Suscripción
                                Anual</button>
                            <ul class="pricing-text mb-5">
                                <li><span class="fa fa-check mr-2"></span>Precio de la lección: S/12,5 por 30 minutos.
                                    S/25 por 1 hora.</li>
                                <li><span class="fa fa-check mr-2"></span>Proceso de reserva simplificado</li>
                                <li><span class="fa fa-check mr-2"></span>Acceso al sólido sistema de chat de Guido,
                                    diseñado específicamente para tutoría</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> -->