<app-navbar-student></app-navbar-student>
<div class="main" [class.active]="menuActive">
<!-- <div class="main"> -->
  <app-topbar></app-topbar>
  <div class="container">
    <div class="details">
      <div class="recentOrders">
        <div class="card-header bg-info">
          <div class="profile-photo" [style.background-image]="'url(' + profesor.foto + ')'"></div>
          <div class="profile-info-text">
            <p class="profile-name">{{ profesor.nombre }}</p>
            <p class="profile-specialty">{{ profesor.especialidad }}</p>
          </div>
          <button (click)="editMode = true" class="btn btn-primary">
            <i class="fas fa-edit"></i> Editar Perfil
          </button>
        </div>
        <div *ngIf="profesor">
          <div class="profile-info">
            <br>
            <div class="edit-profile" *ngIf="editMode">
              <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input [(ngModel)]="profesor.nombre" type="text" class="form-control" id="nombre" placeholder="Nombre">
              </div>
              <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input [(ngModel)]="profesor.apellido" type="text" class="form-control" id="apellido"
                  placeholder="Apellido">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input [(ngModel)]="profesor.email" type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <!-- <div class="mb-3">
                <label for="especialidad" class="form-label">Especialidad</label>
                <input [(ngModel)]="profesor.especialidad" type="text" class="form-control" id="especialidad"
                  placeholder="Especialidad">
              </div> -->
              <div class="form-group col-md-6">
                <label for="especialidadProfesor">Especialidad</label>
                <select class="form-control" id="especialidadProfesor" [(ngModel)]="profesor.especialidad" name="especialidadProfesor">
                  <option value="">Seleccionar especialidad</option>
                  <option value="Matemática">Matemática</option>
                  <option value="Comunicación">Comunicación</option>
                  <option value="Ciencias">Ciencias</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="descripcion" class="form-label">Descripción</label>
                <textarea [(ngModel)]="profesor.descripcion" class="form-control" id="descripcion"
                  placeholder="Describe las áreas o temas en los que te destacas dentro del curso que has seleccionado"></textarea>
              </div>
              <div class="mb-3">
                <label for="foto" class="form-label">Foto de perfil</label>
                <input type="file" (change)="onFileSelected($event)" class="form-control" id="foto">
              </div>
              <div class="profile-actions text-center">
                <button (click)="guardarCambios()" class="btn btn-primary">
                  <i class="fas fa-save"></i> Guardar
                </button>
                <button (click)="editMode = false" class="btn btn-danger">
                  <i class="fas fa-times"></i> Cancelar
                </button>
              </div>
            </div>
            <div *ngIf="!editMode">
              <p class="sobre-mi"><strong>Sobre mí</strong></p>
              <p class="descripcion">{{ profesor.descripcion }}</p>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="details">

      <div class="recentOrders">


          <h2>Mi Disponibilidad</h2>
          <full-calendar [options]="calendarOptions"></full-calendar>

      </div>
    </div>
  </div>
