.vh-100 {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.h-custom {
  flex: 1;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 2rem;
}

.form-outline {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-outline .form-label {
  font-size: 1rem; /* Ensure the same size for all labels */
  color: #495057;
}

.form-outline .form-control {
  padding: 0.75rem;
  border: 1px solid #ced4da;
  font-size: 1rem; /* Match the font size with labels */
  height: calc(2.875rem + 2px); /* Match the height with the button */
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-outline .form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.password-input {
  padding-right: 2.5rem; /* Make space for the eye icon */
  border-radius: .25rem;
}

.position-relative .password-toggle {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
  user-select: none;
  border: none;
  background: none;
}

.form-check-label,
.text-body,
.btn-primary,
.link-danger,
.small {
  font-size: 1rem; /* Ensure uniform font size for all text elements */
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.bg-primary {
  background-color: #007bff !important;
}

.text-white {
  color: #fff !important;
}

.link-danger {
  color: #dc3545 !important;
}

.text-body {
  color: #495057 !important;
}

.is-invalid {
  border-color: #dc3545 !important;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.875rem;
}

.text-danger {
  color: #dc3545 !important;
}

@media (max-width: 768px) {
  .card-body {
    padding: 1rem;
  }

  .form-control,
  .btn-primary {
    font-size: 0.875rem;
    height: calc(2.5rem + 2px);
  }

  .password-toggle {
    right: 0.75rem;
  }

  .img-fluid {
    max-width: 100%;
    height: auto;
  }
}

footer {
  background-color: #007bff;
  color: white;
  padding: 1rem;
}

@media (max-width: 576px) {
  footer {
    padding: 0.5rem;
  }
}
