<section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/images/tesis/login1.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="card shadow" style="box-shadow: 0 2px 4px 0 #1C1678;">
          <div class="card-body p-5">
            <div class="text-center mb-4">
              <a href="index.html">
                <img src="assets/images/tesis/logo12.png" alt="Genius Tec Logo" width="150">
              </a>
            </div>
            <form (ngSubmit)="submitForm()">
              <div class="form-outline mb-4">
                <label class="form-label" for="usuario">Usuario</label>
                <input type="text" id="usuario" class="form-control form-control-lg" placeholder="Ingrese su usuario" [(ngModel)]="usuario" name="usuario" required [class.is-invalid]="submitted && !usuario"/>
                <div *ngIf="submitted && !usuario" class="invalid-feedback">Usuario es requerido.</div>
              </div>

              <div class="form-outline mb-3 position-relative">
                <label class="form-label" for="password">Contraseña</label>
                <div class="position-relative">
                  <input type="password" id="password" class="form-control form-control-lg password-input" placeholder="Ingrese su contraseña" [(ngModel)]="password" name="password" [type]="passwordFieldType" required [class.is-invalid]="submitted && !password"/>
                  <!-- <span class="password-toggle" (click)="togglePasswordVisibility()" unselectable="on">
                    <i class="fas" [ngClass]="{'fa-eye': passwordFieldType === 'password', 'fa-eye-slash': passwordFieldType === 'text'}"></i> -->
                    <span class="password-toggle" (click)="togglePasswordVisibility()" unselectable="on" [hidden]="!password">
                      <i class="fas" [ngClass]="{'fa-eye': passwordFieldType === 'password', 'fa-eye-slash': passwordFieldType === 'text'}"></i>
                  </span>
                  <div *ngIf="submitted && !password" class="invalid-feedback">Contraseña es requerida.</div>
                </div>
               
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="form-check mb-0">
                  <input class="form-check-input me-2" type="checkbox" value="" id="remember" />
                  <label class="form-check-label" for="remember">Recordarme</label>
                </div>
                <a href="#!" class="text-body">Olvidé mi contraseña</a>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary form-control" style="height: calc(2.875rem + 2px); font-size: 1rem;">Iniciar sesión</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? <a href="/seleccion-rol" class="link-danger" style="color: rgb(90, 100, 247) !important;">Regístrate</a></p>
              </div>
              <p class="text-danger mt-2 text-center">{{ mensaje }}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-primary text-white text-center py-4 px-4 px-xl-5 mt-auto w-100">
    <div>Guido © 2024. Todos los derechos reservados.</div>
  </footer>
</section>
<!-- <section class="vh-100">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="assets/images/tesis/login1.png" class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <div class="card shadow" style="box-shadow: 0 2px 4px 0 #1C1678;">
          <div class="card-body p-5">
            <div class="text-center mb-4">
              <a href="index.html">
                <img src="assets/images/tesis/logo12.png" alt="Genius Tec Logo" width="150">
              </a>
            </div>
            <form (ngSubmit)="submitForm()">
              <div class="form-outline mb-4">
                <label class="form-label" for="usuario">Usuario</label>
                <input type="text" id="usuario" class="form-control form-control-lg" placeholder="Ingrese su usuario" [(ngModel)]="usuario" name="usuario" required [class.is-invalid]="submitted && !usuario"/>
                <div *ngIf="submitted && !usuario" class="invalid-feedback">Usuario es requerido.</div>
              </div>

              <div class="form-outline mb-3 position-relative">
                <label class="form-label" for="password">Contraseña</label>
                <div class="position-relative">
                  <input type="password" id="password" class="form-control form-control-lg password-input" placeholder="Ingrese su contraseña" [(ngModel)]="password" name="password" [type]="passwordFieldType" required [class.is-invalid]="submitted && !password"/>
                  <span class="password-toggle" (click)="togglePasswordVisibility()" unselectable="on">
                    <i class="fas" [ngClass]="{'fa-eye': passwordFieldType === 'password', 'fa-eye-slash': passwordFieldType === 'text'}"></i>
                  </span>
                </div>
                <div *ngIf="submitted && !password" class="invalid-feedback">Contraseña es requerida.</div>
              </div>

              <div class="d-flex justify-content-between align-items-center">
                <div class="form-check mb-0">
                  <input class="form-check-input me-2" type="checkbox" value="" id="remember" />
                  <label class="form-check-label" for="remember">Recordarme</label>
                </div>
                <a href="#!" class="text-body">Olvidé mi contraseña</a>
              </div>

              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary form-control" style="height: calc(2.875rem + 2px); font-size: 1rem;">Iniciar sesión</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">¿No tienes una cuenta? <a href="/registerStudent" class="link-danger">Regístrate</a></p>
              </div>
              <p class="text-danger mt-2">{{ mensaje }}</p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="bg-primary text-white text-center py-4 px-4 px-xl-5 mt-auto w-100">
    <div>Guido © 2024. Todos los derechos reservados.</div>
  </footer>
</section> -->
