
/* Card Styles */
.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-header {
  font-size: 1.25rem;
  color: #34495e;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.card-body p {
  margin: 10px 0;
  font-size: 1rem;
  color: #34495e;
}

/* Center Elements */
.text-center {
  text-align: center;
}

/* Button Styles */
.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border: none;
}

.btn-primary {
  background-color: #1C1678;
  color: #fff;
}

.btn-primary:hover {
  background-color: #1f6391;
}

/* Login Link */
.login-link a {
  font-size: 1rem;
  color: #1C1678;
  text-decoration: none;
  transition: color 0.3s;
}

.login-link a:hover {
  color: #1f6391;
}