<app-navbar-student></app-navbar-student>
<div class="main">
  <app-topbar></app-topbar>
  <div class="details">
    <div class="recentCustomers">
      <div class="container">
        <h2 style="  color: #1C1678;">Reservar tutoría</h2>
        <div class="row">
          <div class="card col-md-12">
            <h3  style="  color: #1C1678;">Detalles del Horario</h3>
            <div class="card-body"  style="  color: #1C1678;">
              <p class="card-text">Fecha: {{ horario.fecha }}</p>
              <p class="card-text">Hora de inicio: {{ horario.hora_inicio }}</p>
              <p class="card-text">Hora de fin: {{ horario.hora_fin }}</p>
            </div>
          </div>
          <div class="card col-md-12">
            <h3  style="  color: #1C1678;">Detalles del Profesor</h3>
            <div class="card-body"  style="  color: #1C1678;">
              <p class="card-text">Nombre: {{ profesor.nombre }}</p>
              <p class="card-text">Especialidad: {{ profesor.especialidad }}</p>
              <p class="card-text">Descripción: {{ profesor.descripcion }}</p>
            </div>
          </div>
          <div class="card col-md-12 payment-form-container">
            <div class="card-body">
              <h3 class="text-center">Pago con tarjeta Visa</h3>
              <form (ngSubmit)="registrarInscripcion()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cardNumber">Número de tarjeta</label>
                      <input type="text" class="form-control" id="cardNumber" [(ngModel)]="cardNumber" name="cardNumber"
                        appCreditCard placeholder="1234 5678 9123 4567" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cardName">Nombre en la tarjeta</label>
                      <input type="text" class="form-control" id="cardName" [(ngModel)]="cardName" name="cardName"
                        placeholder="Nombre completo" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="expiryDate">Fecha de expiración</label>
                      <input type="text" class="form-control" id="expiryDate" [(ngModel)]="expiryDate" name="expiryDate"
                        appExpiryDate placeholder="MM/AA" required>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="cvv">CVV</label>
                      <input type="text" class="form-control" id="cvv" [(ngModel)]="cvv" name="cvv" placeholder="123"
                        required>
                    </div>
                  </div>
                </div>
                <div *ngIf="montoPagar !== null" class="mt-3 text-center">
                  <h4>Total a pagar: S/{{ montoPagar }}</h4>
                </div>
                <button type="submit" class="btn btn-primary btn-block mt-3">Pagar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <!-- <app-navbar-student></app-navbar-student>
<div class="main">
  <app-topbar></app-topbar>
  <div class="details">
    <div class="recentCustomers">
      <div class="container">
        <div class="row">
          <div class="cardHeader">
            <h2>Reservar tutoria</h2>
          </div>
          <div class="col-md-6 offset-md-3">
            <div class="card mt-5">
              <div class="card-header text-center">
                Detalles del Horario
              </div>
              <div class="card-body">
                <p class="card-text">Fecha: {{ horario.fecha }}</p>
                <p class="card-text">Hora de inicio: {{ horario.hora_inicio }}</p>
                <p class="card-text">Hora de fin: {{ horario.hora_fin }}</p>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-header text-center">
                Detalles del Profesor
              </div>
              <div class="card-body">
                <p class="card-text">Nombre: {{ profesor.nombre }}</p>
                <p class="card-text">Especialidad: {{ profesor.especialidad }}</p>
                <p class="card-text">Descripción: {{ profesor.descripcion }}</p>
              </div>
            </div>
            <div class="card mt-5">
              <div class="card-body text-center">
                <p style="font-size: 3em; font-weight: bold;">S/25</p>
              </div>
            </div>
            <div *ngIf="showPayPalButtons" class="text-center mt-3">
              <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-primary mt-3" (click)="registrarInscripcion()">Registrar Inscripción</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->